@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
	list-style: none;
}

footer{	
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	
	background-color: lightgray;
}

footer>div{
	width: 1000px;
	margin: 0 auto;
}
.footer_content ul{
	display: flex;
	flex-wrap: wrap;
}

.footer_content ul li{
	
}

.footer_end ul{
	
}

.footer_rignt ul{
	display: flex;
	justify-content: flex-end;
}