@charset "UTF-8";

.indexWrap{
	min-height: 100%;
    position: relative;
}

.index_{
    padding-bottom: 195px; /* footer의 높이 */

}

/* 메인 슬라이드 */
.slideshow-container {
  position: relative;
  margin: auto;
  margin-bottom: 60px;
  height: 720px;
}

.slideshow-container .mySlides img {
  height: 720px;
}

.mySlides {
  display: none;
  height: 720px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #ffcf42;
  font-size: 55px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: #d6af3a;
}

.dots{
	position: absolute;
	bottom: 6px;
	left: 50%;
	margin-left: -58.5px;
	height: 15px
}

.dot {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #ffcc00;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 3.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* section 부분 */
.section, .section2, .section3{
	width: 1000px;
	margin: 0 auto;
	color: #777777;
	margin-bottom: 80px;
}

.sa {
  opacity: 0;
  transition: all .7s ease;
}

/* 아래에서 위로 페이드 인 */
.sa-up {
  transform: translate(0, 25px);
}
.sa.show {
  opacity: 1;
  transform: none;
}

/* section */
.section h2{
	font-size: 40px;
	margin-bottom: 60px;
}

.section ul{
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

.section li{
	width: 500px;
	height: 300px;
	margin: 0 auto;
	display: flex;
    margin-bottom: 60px;
}

.section .img_trans{
	width: 200px;
	height: 300px;
	overflow: hidden;
	display: flex; 
	justify-content: center;
	align-items: center;
	margin-right: 20px;
}

.section .img_trans img{
	width: 320px;
	height: 305px;
	object-fit: cover;
	transform: scale(1.1);
	margin: 0 auto;
}

.section li:hover .img_trans img{
	transform: scale(1);
	transition: 0.8s;
}

.section li:not(:hover) .img_trans img{
	transition: 0.8s;
}

.section p{
	width: 280px;
	height: 300px;
}

.section p span:first-child{
	height: 225px;
	display: inline-block;
	padding-top: 160px;
	font-size: 20px;
	font-weight: 600;
}

.section li p span:first-child:after{
	display:block;
	content: '';
	border-bottom: solid 3px #ffcc00;  
	transform: scaleX(0);  
	transition: transform 250ms ease-in-out;
}

.section li span:first-child:hover:after{
	transform: scaleX(1);
}

.section li p span:first-child:after{
	transform-origin: 0% 50%;
}

.section p span:last-child{
	display: inline-block;
	width: 268px;
	font-size: 14px;
}

/* section2 */
.section2{
	margin-bottom: 155px;
}

.section2 div{
	width: 550px;
	height: 320px;
	object-fit: cover;
	overflow: hidden;
	margin-bottom: 40px;
	display: flex; 
	justify-content: center;
	align-items: center;
}

.section2 img{
	width: 658px;
	height: 490px;
	margin: 0 auto;
	object-fit: cover;
	transform: scale(1.01);
}

.section2 div img:hover{
	transform: scale(0.9);
	transition: 0.8s;
}

.section2 div img:not(:hover){
	transition: 0.8s;
}

.section2 h2{
	font-size: 35px;
	margin-bottom: 25px;
}

.section2 p{
	font-size: 13px;
}

/* section3 */
.section3 h2{
	font-size: 30px;
	margin-bottom: 32px;
}

.section3>ul:first-of-type{
	margin-bottom: 65px;
}

.section3 li{
	font-size: 13px;
}

.section3>ul:first-of-type li:first-child{
	margin-bottom: 20px;
	font-size: 15px;
	font-weight: 600;
}

.section3 ul:last-child{
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.section3 ul:last-child li{
	width: 260px;
	margin-bottom: 26px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.section3 ul:last-child li img{
	width: 120px;
	height: auto;
	margin-bottom: 10px;
}

.section3 ul:last-child li span{
	width: 120px;
	text-align: center;
	font-weight: 600;
	font-size: 14px;
}