@charset "EUC-KR";

.orderDetail{
	min-height: 100%;
    position: relative;
}

.order_d{
	margin-top: 100px;
    padding-bottom: 195px; /* footer의 높이 */
}

.order_d img{
	width: 100px;
	height: auto;
}