@charset "UTF-8";

.orderDetailsWrap{
	min-height: 100%;
    position: relative;
}

.orderDetails_{
	margin-top: 100px;
    padding-bottom: 195px; /* footer의 높이 */
}

.orderDetails_page img{
	width: 100px;
	height: auto;
}