@charset "UTF-8";

.orderListWrap{
	min-height: 100%;
    position: relative;
    
	/* 드래그 방지 */
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.orderList_{
	margin-top: 190px;
    padding-bottom: 195px; /* footer의 높이 */
    color: #767676;
}

.oList input{
	width: 300px;
	padding: 10px;
	margin: 0 auto;
	margin-bottom: 70px;
	border-style: none;
	outline-style: none;
	font-size: 17px;
	font-weight: 600;
	color: #757575;
	cursor: pointer;
	background-color: #ffcc00;
}

.oList h2{
	width: 120px;
	margin : 0 auto;
	margin-bottom: 30px;
	border-bottom: 5px solid #ffcc00;
	font-size: 30px;
	text-align: center;
}

.orderList_page_none, .orderList_page{
	width: 900px;
	margin: 0 auto;
	font-weight: 500;
}

.oList .separator{
	display: inline-block;
    width: 100%;
    height: 0.9px;
    background-color: #939ca4;
    margin-bottom: 12px;
}

.oList>span:nth-of-type(n+2){
	background-color: #d2d2d2;
}

.oList>span:last-of-type{
	margin-bottom: 40px;
}

/* 구매내역이 없을 때 */
.orderList_page_none{
	text-align: center;
	margin-top: 50px;
}

.orderList_page_none p{
	height: 250px;
	font-size: 16px;
	font-weight: 600;
}

/* 구매내역이 있을 때 */
.oList ul{
	display: flex;
	justify-content: space-between;
	margin-bottom: 17px;
}

.olist_nav ul{
	width: 900px;
	margin: 0 auto;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 10px;
}

.olist_nav li{
	text-align: center;
}

.olist_nav li{
	width: 80px;
}

.olist_nav li:nth-child(2){
	width: 120px;
}


.olist_nav li:nth-child(3){
	width: 230px;
}

.olist_nav li:last-child{
	width: 90px;
	padding-right: 10px;
}

/* 주문 상세보기 */
.orderList_page>div{
	width: 100%;
	text-align: right;
}

.orderList_page a{
	font-weight: 300;
	font-size: 13px;
	color: #767676;
}

.orderList_page a:hover{
	font-weight: 600;
}

.orderList_page ul{
	align-content: center;
}

.orderList_page ul li{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: center;
	width: 80px;
	height: 120px;
}

.orderList_page ul li:nth-child(2){
	width: 120px;
}

.orderList_page ul li:nth-child(3){
	width: 230px;
	font-weight: 600;
}

.orderList_page ul li:last-child{
	width: 95px;
	font-weight: 600;
	color: #ffcc00;
}

.orderList_page img{
	width: 120px;
	height: auto;
}

/* 하단 버튼 */
.oList>div:last-child {
	width: 900px;
	margin: 0 auto;
	text-align: center;
}
