@charset "EUC-KR";

.orderList{
	min-height: 100%;
    position: relative;
}

.order_l{
	margin-top: 100px;
    padding-bottom: 195px; /* footer의 높이 */
}

.order_l img{
	width: 100px;
	height: auto;
}