@charset "UTF-8";

.wrap{
	
    min-height: 100%;
    position: relative;
}

.wrap_1{
	margin-top: 100px;
    padding-bottom: 195px; /* footer의 높이 */
}

.wrap_1 #main_img{
	width: 300px;
	height: auto;
}

.wrap_1 #small_img{
	width: 150px;
	height: auto;
}